.navbar {
  height: 100px;

  display: flex;
  align-items: center;
  font-style: 14px;
  color: #555;


  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    .logo {
   
      width: 60px;
      height: 60px;
      background-color: #5616f5;
      display: flex;
      justify-content: center;
      align-items: center;
     
}
    .search {
      display: flex;
      align-items: center;
      border: 1.5px solid #5616f5;
      padding: 5px;
      border-radius: 12px;
   
      width: 250px;


      input {
        outline: none;
        border:none;
        background-color: transparent;
        width:100%;

        &::placeholder {
          font-size: 14px;
        }

      }

    }
    .items{
      display: flex; 
      align-items: center;
      margin-right: 0px;

      .item {
        margin-left:8px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }
      .icon {

        font-size: 28px;
      }
      .counter {
        width: 15px;height: 15px;
        background-color: red;
        border-radius: 50%;
        color: #fff;
        display: flex;justify-content: center;
        align-items: center;
        font-size: 10px;
        font-weight: bold;
        position: absolute;
        top: -5px;
        right: -5px;



      }
    }

  }
}