.sidebar {

width:75px;
  color: #fff;
  min-height: 100vh;
  background: linear-gradient(#5616f5,#7d28eb);
  position: relative;
  transition:width .3s linear;
  
  .false {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 50%;
    
    position:absolute;
    right: -20px;
    top: 30px;
    background-color: #5616f5;
    cursor: pointer;
  }
  .true {
 
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 50%;
    color: #5616f5;
    position:absolute;
    right: -28px;
    top: 40px;

    cursor: pointer;

  }
  .top {
    height:100px;
    display: flex;
    align-items: center;
    margin-left: 10px;    
    overflow: hidden;
    padding-left: 32px;
  


  }
  .center {
    
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        padding: 16px 24px;
    
        cursor: pointer;
     

        &:hover {
          background-color: darkblue;
          transition: background-color .3s linear;

        
        }


        .icon {
          font-size: 24px;
          color:#07c3f7;
          margin-right: 7px;

        }
        span {
          font-size: 16px;
          font-weight: 600;
          color:#fff;
          margin-left: 10px;
          padding-left: 10px;

        }
      }
      
    }
  }
  // .bottom {
  //   display: flex;align-items: center;
  //   margin: 10px;

  //   .colorOption {
  //     width:20px;
  //     height:20px;
  //     border-radius: 5px;
  //     border:1px solid purple;
  //     margin: 5px;


  //     &:nth-child(1) {
  //       background-color: white;
  //     } 
  //     &:nth-child(2) {
  //       background-color: #333;
  //     } 


  //   }
  // }
}
















